
<div class="row sticky-bottom footer">
    <a href="/listings/new">
        <div class="col-auto footer-container">
            <i class="fa-regular fa-pen-to-square"></i>
        </div>
      </a>      
</div>
